.hero {
  overflow: hidden;
  position: relative;
  padding-top: 80px;
  padding-bottom: 430px;
  background: var(--yellow-gradient);
  background-repeat: no-repeat;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/@1x/hero_bg_320_bf.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 32px 130px;
    z-index: 20;
  }
  &:after {
    content: '';
    position: absolute;
    width: 365px;
    height: 310px;
    top: -15%;
    right: -39%;
    background-image: url('../images/@1x/hero_bg_320.png');
    background-repeat: no-repeat;
  }
  &__women {
    position: absolute;
    right: -55px;
    @include mq(desktop) {
      right: 0;
    }
  }
  &__container {
    position: relative;
    z-index: 30;
  }
}
