<section class="certificate">
  <div class="container certificate__container">
    <h4 class="certificate__headline">Подарунковий сертифікат</h4>
    <div class="certificate__info">
      <div class="certificate__img">
        <picture>
          <source
            srcset="
              ./assets/images/@1x/certificate_768.png 1x,
              ./assets/images/@1x/certificate_768.png 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/@1x/certificate_768.png 1x,
              ./assets/images/@1x/certificate_768.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/@1x/certificate_768.png 1x,
              ./assets/images/@1x/certificate_768.png 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/@1x/certificate_768.png 1x,
              ./assets/images/@1x/certificate_768.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />

          <img
            class="certificate__img-coupon"
            src="./assets/images/@1x/certificate_768.png"
            alt="coupon"
            width="330"
            height="476"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="certificate__text">
        <p class="certificate__strong">
          Втомилися шукати ідеї цікавих подарунків для дітей? Хочете подарувати щось нетривіальне, а
          головне – корисне?
        </p>
        <p class="certificate__p">
          Подарункові сертифікати на курси програмування, дизайну та розробки від онлайн ІТ-академії
          GoITeens – це ідеальний варіант для дитини7-16 років, яка захоплюється іграми та
          комп’ютерними технологіями.
        </p>
        <p class="certificate__p">
          Подаруйте дитині нові знання, неймовірні враження від навчання в доступному та захопливому
          форматі. Понад 7 років ми ведемо дітей до реальної ІТ-кар’єри у сферах диджитал-дизайну,
          програмування, розробки сайтів та ігор.
        </p>
        <p class="certificate__p">
          Сертифікат на навчання в GoITeens – не просто подарунок. Цечудова інвестиція в прогресивне
          та щасливе майбутнє ваших дітей.
        </p>
      </div>
    </div>
    <button class="certificate__button">ЗАМОВИТИ СЕРТИФІКАТ</button>
  </div>
</section>
