<section class="section hero">
  <div class="container hero__container">
    <div class="hero__wrapper">
      <h1 class="section-title hero__title">Вартість навчання</h1>
      <div class="hero__women">
        <picture>
          <source
            srcset="
            ./assets/images/@1x/hero_bg_woman.png 1x,
            ./assets/images/@1x/hero_bg_woman.png 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
            ./assets/images/@1x/hero_bg_woman.png 1x,
            ./assets/images/@1x/hero_bg_woman.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />

          <source
            srcset="
            ./assets/images/@1x/hero_bg_woman.png 1x,
            ./assets/images/@1x/hero_bg_woman.png 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
            ./assets/images/@1x/hero_bg_woman.png 1x,
            ./assets/images/@1x/hero_bg_woman.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />

          <img
            class="hero__img"
            src="./assets/images/@1x/hero_bg_woman.png"
            alt="hero-woman"
            width="330"
            height="476"
            loading="lazy"
          />
        </picture>
      </div>
         
        </div>
      </div>
    </div>
  </div>
</section>
