<section class="section pay">
  <div class="container pay__container">
    <h3 class="pay__headline">Оплата</h3>
    <div class="pay__filters-btns">
      <button class="pay__filter-btn">USD $</button>
      <button class="pay__filter-btn pay__filter-btn_active">ГРН ₴</button>
      <button class="pay__filter-btn">EUR €</button>
    </div>
    <ul class="cards list">
      <li class="cards__item">
        <span class="cards__subtitle">1 місяць</span>
        <div class="cards__card">
          <span class="cards__discount">-10%</span>
          <div class="cards__sum">
            <span class="cards__current-sum">4 141 ₴ </span>
            <span class="cards__strikethrough">4 141 ₴</span>
          </div>
          <a href="#" class="cards__button link">Оплатити карткою</a>
          <div class="cards__imgs">
            <div class="cards__icon">
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-apple" />
              </svg>
              <span class="cards__icon-text">Pay</span>
            </div>
            <div class="cards__icon">
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-google" />
              </svg>
              <span class="cards__icon-text">Pay</span>
            </div>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <span class="cards__subtitle">3 місяці</span>
        <div class="cards__card">
          <span class="cards__discount">-10%</span>
          <div class="cards__sum">
            <span class="cards__current-sum">4 141 ₴ </span>
            <span class="cards__strikethrough">4 141 ₴</span>
          </div>
          <a href="#" class="cards__button link">Оплатити карткою</a>
          <div class="cards__imgs">
            <div class="cards__icon">
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-apple" />
              </svg>
              <span class="cards__icon-text">Pay</span>
            </div>
            <div class="cards__icon">
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-google" />
              </svg>
              <span class="cards__icon-text">Pay</span>
            </div>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <span class="cards__subtitle">6 місяців</span>
        <div class="cards__card">
          <span class="cards__discount">-10%</span>
          <div class="cards__sum">
            <span class="cards__current-sum">4 141 ₴ </span>
            <span class="cards__strikethrough">4 141 ₴</span>
          </div>
          <a href="#" class="cards__button link">Оплатити карткою</a>
          <div class="cards__imgs">
            <div class="cards__icon">
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-apple" />
              </svg>
              <span class="cards__icon-text">Pay</span>
            </div>
            <div class="cards__icon">
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-google" />
              </svg>
              <span class="cards__icon-text">Pay</span>
            </div>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <span class="cards__subtitle">9 місяців</span>
        <div class="cards__card">
          <span class="cards__discount">-10%</span>
          <div class="cards__sum">
            <span class="cards__current-sum">4 141 ₴ </span>
            <span class="cards__strikethrough">4 141 ₴</span>
          </div>
          <a href="#" class="cards__button link">Оплатити карткою</a>
          <div class="cards__imgs">
            <div class="cards__icon">
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-apple" />
              </svg>
              <span class="cards__icon-text">Pay</span>
            </div>
            <div class="cards__icon">
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-google" />
              </svg>
              <span class="cards__icon-text">Pay</span>
            </div>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <span class="cards__subtitle">12 місяців</span>
        <div class="cards__card">
          <span class="cards__discount">-10%</span>
          <div class="cards__sum">
            <span class="cards__current-sum">4 141 ₴ </span>
            <span class="cards__strikethrough">4 141 ₴</span>
          </div>
          <a href="#" class="cards__button link">Оплатити карткою</a>
          <div class="cards__imgs">
            <div class="cards__icon">
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-apple" />
              </svg>
              <span class="cards__icon-text">Pay</span>
            </div>
            <div class="cards__icon">
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-google" />
              </svg>
              <span class="cards__icon-text">Pay</span>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <form class="pay__promocode">
      <input type="text" placeholder="промокод" class="pay__input" />
      <button class="pay__promocode-btn">застосувати</button>
    </form>
  </div>
</section>
