<section class="section process">
  <div class="container process__container">
    <h2 class="process__headline">навчальний процес</h2>
    <div class="process__wrapper">
      <div class="process__info">
        <p class="process__text">
          Заняття в групах до 12 людей. Комфортна та дружня атмосфера, що сприяє розвитку
          комунікативних навичок
        </p>
        <p class="process__text">
          Активно працюємо над розвитком не тільки Hard Skills (власне навчання), але й проводимо
          заняття із Soft Skills – вчимо командної роботи, лідерства, вміння відстоювати своє
          бачення проєкту та презентувати креативну ідею
        </p>
        <strong class="process__lesson-time">Тривалість уроку – 45-90 хвилин</strong>
      </div>
      <ul class="process__skills list">
        <li class="process__item">
          <strong class="process__strong">Проектне навчання</strong>
          <ul class="list process__stars list">
            <li>
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-full-star" />
              </svg>
            </li>
            <li>
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-full-star" />
              </svg>
            </li>
            <li>
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-full-star" />
              </svg>
            </li>
            <li>
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-full-star" />
              </svg>
            </li>
            <li>
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-full-star" />
              </svg>
            </li>
          </ul>
        </li>
        <li class="process__item">
          <strong class="process__strong">Розвиток Soft Skills</strong>
          <ul class="list process__stars list">
            <li>
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-full-star" />
              </svg>
            </li>
            <li>
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-full-star" />
              </svg>
            </li>
            <li>
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-full-star" />
              </svg>
            </li>
            <li>
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-full-star" />
              </svg>
            </li>
            <li>
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-full-star" />
              </svg>
            </li>
          </ul>
        </li>
        <li class="process__item">
          <strong class="process__strong">Розвиток комунікації</strong>
          <ul class="list process__stars list">
            <li>
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-full-star" />
              </svg>
            </li>
            <li>
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-full-star" />
              </svg>
            </li>
            <li>
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-full-star" />
              </svg>
            </li>
            <li>
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-full-star" />
              </svg>
            </li>
            <li>
              <svg width="16px" height="16px" class="process__star-50">
                <use href="./assets/images/sprite.svg#icon-star-50" />
              </svg>
            </li>
          </ul>
        </li>
        <li class="process__item">
          <strong class="process__strong">Нові друзі за інтересами</strong>
          <ul class="list process__stars list">
            <li>
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-full-star" />
              </svg>
            </li>
            <li>
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-full-star" />
              </svg>
            </li>
            <li>
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-full-star" />
              </svg>
            </li>
            <li>
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-full-star" />
              </svg>
            </li>
            <li>
              <svg width="16px" height="16px" class="process__star-50">
                <use href="./assets/images/sprite.svg#icon-star-50" />
              </svg>
            </li>
          </ul>
        </li>
        <li class="process__item">
          <strong class="process__strong">Спільні командні проекти </strong>
          <ul class="list process__stars">
            <li>
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-full-star" />
              </svg>
            </li>
            <li>
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-full-star" />
              </svg>
            </li>
            <li>
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-full-star" />
              </svg>
            </li>
            <li>
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-full-star" />
              </svg>
            </li>
            <li>
              <svg width="16px" height="16px">
                <use href="./assets/images/sprite.svg#icon-full-star" />
              </svg>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
