<div class="header__desktop">
  <div class="header__desktop-logo">
    <a href="#" aria-label="logo" class="header__desktop-logo">
      <svg width="142px" height="36px" class="header__logo">
        <use href="./assets/images/sprite.svg#icon-logo-big" />
      </svg>
    </a>
    <p class="header__desktop-text">Мережа ІТ-академій для дітей 8-15 років</p>
  </div>
  <nav class="header__navigation">
    <ul class="header__list list">
      <li class="header__item"><a href="#" class="header__link link">Програми</a></li>
      <li class="header__item"><a href="#" class="header__link link">Про нас</a></li>
      <li class="header__item"><a href="#" class="header__link link">Результати учнів</a></li>
      <li class="header__item"><a href="#" class="header__link link">Контакти</a></li>
    </ul>
  </nav>
  <ul class="header__contact-list list">
    <li class="header__contact-item">
      <svg width="18px" height="18px" class="header__logo">
        <use href="./assets/images/sprite.svg#icon-location" />
      </svg>
      <span class="header__cities-name">Київ</span>
    </li>
    <li class="header__contact-item">
      <a href="tel:+380671587368" class="link header__phone-number">+38 067 158 73 68</a>
    </li>
    <li class="header__contact-item">
      <button class="header__button">Ukr</button>
    </li>
  </ul>
</div>
